<head th:fragment="headerImports">

  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Nutri Já</title>

  <!-- plugins:css -->
  <link rel="stylesheet" href="/vendors/feather/feather.css">
  <link rel="stylesheet" href="/vendors/ti-icons/css/themify-icons.css">
  <link rel="stylesheet" href="/vendors/css/vendor.bundle.base.css">

  <!-- end inject -->
  <!-- Plugin css for this page -->
  <link rel="stylesheet" href="/vendors/mdi/css/materialdesignicons.min.css">

  <!-- inject:css -->
  <link rel="stylesheet" href="/css/vertical-layout-light/style.css">
  <link rel="stylesheet" href="/css/global-style.css">

  <!-- end inject -->
  <link rel="shortcut icon" href="/img/favicon.png" />

</head>
