<!DOCTYPE html>
<html
        lang="pt-br"
        xmlns:th="http://www.thymeleaf.org">

    <header th:replace="~{fragments/header :: headerImports}"></header>

    <body>
    <div class="container-scroller">

        <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>

        <div class="container-fluid page-body-wrapper">

            <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>

            <div class="main-panel">
                <div class="content-wrapper">

                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="row">
                                <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                    <h3 class="font-weight-bold">Editar Clientes</h3>
                                </div>
                            </div>
                        </div>
                    </div>

                    <form th:action="@{/customers/edit/edited}" method="post" th:object="${customer}" enctype="multipart/form-data">
                        <div class="row">
                            <input type="hidden" th:field="*{id}">

                            <div class="form-group col-6">
                                <label for="nome-completo" class="label-title">Nome Completo:</label>
                                <input type="text" class="form-control" autocomplete="off" th:field="*{fullName}" id="nome-completo" placeholder="Nome Completo... ">
                            </div>
                        </div>

                        <div class="row">
                            <div class="form-group col-6">
                                <label for="email" class="label-title">Email de Notificação:</label>
                                <input type="email" class="form-control" autocomplete="off" th:field="*{notificationEmail}" id="email" placeholder="Email... ">
                            </div>
                        </div>

                        <button type="submit" class="btn btn-success btn-rounded mt-4">EDITAR INFORMAÇÕES</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>
