<!DOCTYPE html>
<html
        lang="pt-br"
        xmlns:th="http://www.thymeleaf.org">

<header th:replace="~{fragments/header :: headerImports}"></header>

  <body>
    <div class="container-scroller">

      <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>

      <div class="container-fluid page-body-wrapper">

        <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>

        <div class="main-panel">
          <div class="content-wrapper">

            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Cadastro de Clientes</h3>
                  </div>
                </div>
              </div>
            </div>

            <form th:action="@{/customers/register}" method="post" th:object="${customer}" enctype="multipart/form-data">
                <div class="row">
                    <div class="form-group col-6">
                      <label for="nome" class="label-title">Nome:</label>
                      <input type="text" class="form-control" th:field="*{name}" id="nome" placeholder="Nome... ">
                    </div>

                    <div class="form-group col-6">
                      <label for="sobrenome" class="label-title">Sobrenome:</label>
                      <input type="text" class="form-control" th:field="*{lastname}" id="sobrenome" placeholder="Sobrenome... ">
                    </div>
              </div>

              <div class="row">
<!--                <div class="form-group col-6">-->
<!--                  <label for="arquivo" class="label-title">Imagem de Perfil:</label>-->
<!--                  <input type="file" class="form-control" name="file" id="arquivo">-->
<!--                </div>-->

                <div class="form-group col-6">
                  <label for="email" class="label-title">Email de Notificação:</label>
                  <input type="email" class="form-control" th:field="*{notificationEmail}" id="email" placeholder="Email... ">
                </div>

                  <!--                <div class="form-group col-6">-->
<!--                  <label for="" class="label-title">Nutricionistas:</label>-->
<!--                  <select name="" id="" class="form-control" th:field="*{perfil}">-->
<!--                    <option th:each="perfil : ${perfils}" th:text="${perfil}" th:value="${perfil}"></option>-->
<!--                  </select>-->
<!--                </div>-->
              </div>

              <button type="submit" class="btn btn-success btn-rounded mt-4">SALVAR INFORMAÇÕES</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
