<!DOCTYPE html>
<html
        lang="pt-br"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

    <header th:replace="~{fragments/header :: headerImports}"></header>
    <body>
        <div class="container-scroller">
            <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>

            <div class="container-fluid page-body-wrapper">
                <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
                <div class="main-panel">
                    <div class="content-wrapper">

                        <div class="row">
                            <div class="col-md-12 grid-margin">
                                <div class="row">
                                    <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                                        <h3 class="font-weight-bold">Todos os Nutricionistas</h3>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 grid-margin stretch-card">
                                <div class="card table-bg">
                                    <div class="card-people mt-auto">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th scope="col">Nome</th>
                                                <th scope="col">Telefone</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Ações</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr th:each="nutritionist : ${nutritionists}">
                                                    <td>
                                                        <span th:text="${nutritionist.fullName}"></span>
                                                    </td>
                                                    <td>
                                                        <span th:text="${nutritionist.phone}"></span>
                                                    </td>
                                                    <td>
                                                        <span th:text="${nutritionist.notificationEmail}"></span>
                                                    </td>
                                                    <td>
                                                        <!-- Button to trigger modal -->
                                                        <button th:if="${!nutritionist.getUsername().equalsIgnoreCase(#authentication.getName())}" type="button" class="btn btn-success" data-toggle="modal" data-target="#emailModal">
                                                            <i class="fa-solid fa-paper-plane"></i>
                                                        </button>

                                                        <!-- Modal -->
                                                        <div class="modal fade" id="emailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Email</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <form th:action="@{/emails/sendEmail}" method="post" enctype="multipart/form-data">
                                                                            <div class="form-group">
                                                                                <label for="from">De:</label>
                                                                                <input type="email" class="form-control" id="from" name="from" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="to">Para:</label>
                                                                                <input type="email" class="form-control" id="to" name="to" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="subject">Assunto:</label>
                                                                                <input type="text" class="form-control" id="subject" name="subject" required>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="body">Mensagem:</label>
                                                                                <textarea class="form-control" id="body" name="body" rows="5" required></textarea>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label for="attachment">Arquivo:</label>
                                                                                <input type="file" class="form-control-file" id="attachment" name="attachment">
                                                                            </div>
                                                                            <button type="submit" class="btn btn-primary">Enviar</button>
                                                                        </form>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <a th:if="${nutritionist.getUsername().equalsIgnoreCase(#authentication.getName())}"
                                                           class="btn btn-warning" th:href="@{/nutritionists/edit/{id}(id=${nutritionist.id})}">
                                                            <i class="fa fa-edit"></i>
                                                        </a>
                                                        <a th:if="${nutritionist.getUsername().equalsIgnoreCase(#authentication.getName())}"
                                                           class="btn btn-danger" th:href="@{/nutritionists/delete/{id}(id=${nutritionist.id})}">
                                                            <i class="fa fa-trash"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                            <tbody th:if="nutritionists.isEmpty">
                                            <tr>
                                                <td colspan="4" class="text-center"><h3 th:text="${message}"></h3></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:replace="~{fragments/footer :: footerImports}"></div>
    </body>
</html>
