<!DOCTYPE html>
<html lang="pt-br"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

  <header th:replace="~{fragments/header :: headerImports}"></header>
  <body>
    <div class="container-scroller">
      <nav th:replace="~{fragments/navbar :: navbarImports}"></nav>
      <div class="container-fluid page-body-wrapper">
        <nav th:replace="~{fragments/sidebar :: sidebarImports}"></nav>
        <div class="main-panel">
          <div class="content-wrapper">

            <div class="row">
              <div class="col-md-12 grid-margin">
                <div class="row">
                  <div class="col-12 col-xl-8 mb-4 mb-xl-0">
                    <h3 class="font-weight-bold">Seja Bem-Vindo(a),
                        <span th:text="${#authentication.getPrincipal().getFullName()}"></span>
                    </h3>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                <div class="card table-bg">
                  <div class="card-people mt-auto">
                    <h4 class="m-4">Últimos clientes cadastrados</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                              <th scope="col">Nome do Cliente</th>
                              <th scope="col">Data de Cadastro</th>
                              <th scope="col">Nutricionista Responsável</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr th:if="${recent.nutritionist.getUsername().equalsIgnoreCase(#authentication.getName())}"
                                th:each="recent: ${recentCustomers}">
                                <td>
                                    <span th:text="${recent.fullName}"></span>
                                </td>
                                <td th:text="${recent.registryDate}"></td>
                                <td>
                                    <span th:text="${recent.nutritionist.fullName}"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 grid-margin stretch-card">
                  <div class="card table-bg">
                      <div class="card-people mt-auto" sec:authorize="hasAuthority('ADMIN')">
                          <h4 class="m-4">Últimos nutricionistas cadastrados</h4>
                          <table class="table table-striped">
                              <thead>
                                  <tr>
                                      <th scope="col">Nome do Nutricionista</th>
                                      <th scope="col">Data de Cadastro</th>
                                  </tr>
                              </thead>

                              <tbody>
                                  <tr th:each="recent: ${recentNutritionists}">
                                      <td>
                                          <span th:text="${recent.fullName}"></span>
                                      </td>
                                      <td th:text="${recent.registryDate}"></td>
                                  </tr>
                              </tbody>
                          </table>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  <footer th:replace="~{fragments/footer :: footerImports}"></footer>

  </body>

</html>

